<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2015 Orange

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.ocara"
    android:versionCode="1"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.orange.ocara.OcaraApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.orange.ocara.ui.activity.CreateAuditActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.orange.ocara.ui.activity.UpdateAuditActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.CreateSiteActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.SetupAuditPathActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/setup_objects_title"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.AuditObjectsNoviceModeActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label=""
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.AuditObjectsExpertModeActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label=""
            android:launchMode="singleTop" />

        <activity
        android:name="com.orange.ocara.ui.activity.DetailsActivity_"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.DetailsActivityInGrid_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.ResultAuditActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.ListAuditActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.orange.ocara.ui.activity.IllustrationsActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.orange.ocara.ui.activity.ListAuditCommentActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.ListRulesActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.ListAuditObjectCommentActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.EditCommentTextActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name" />

        <activity
            android:name="com.orange.ocara.ui.activity.EditCommentPhotoActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name" />


        <activity
            android:name="com.orange.ocara.ui.activity.EditCommentAudioActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.AboutActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/about_title"
            android:launchMode="singleTop" />

        <activity
            android:name="com.orange.ocara.ui.activity.SettingsActivity_"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/settings_title"
            android:launchMode="singleTop" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.orange.ocara"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />

        </provider>

        <service
            android:name="com.orange.ocara.model.export.AuditExportService_"
            android:exported="false" />


        <!-- Database -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ocara.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.orange.ocara.model.Audit, com.orange.ocara.model.AuditObject, com.orange.ocara.model.QuestionAnswer, com.orange.ocara.model.RuleAnswer, com.orange.ocara.model.Auditor, com.orange.ocara.model.Site, com.orange.ocara.model.Comment" />

    </application>

</manifest>
