<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Software Name: OCARA
  ~
  ~ SPDX-FileCopyrightText: Copyright (c) 2015-2023 Orange
  ~ SPDX-License-Identifier: MPL v2.0
  ~
  ~ This software is distributed under the Mozilla Public License v. 2.0,
  ~ the text of which is available at http://mozilla.org/MPL/2.0/ or
  ~ see the "license.txt" file for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.orange.ocara">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.orange.ocara.OcaraApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage = "true">

        <!-- Database -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ocara.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="14" />

        <meta-data
            android:name="AA_MODELS"
            android:value="
              com.orange.ocara.data.cache.model.AuditEntity,
              com.orange.ocara.data.cache.model.AuditObjectEntity,
              com.orange.ocara.data.cache.model.QuestionAnswerEntity,
              com.orange.ocara.data.cache.model.RuleAnswerEntity,
              com.orange.ocara.data.cache.model.AuditorEntity,
              com.orange.ocara.data.cache.model.SiteEntity,
              com.orange.ocara.data.cache.model.CommentEntity,
              com.orange.ocara.data.net.model.RulesetEntity,
              com.orange.ocara.data.net.model.QuestionnaireEntity,
              com.orange.ocara.data.net.model.ChainEntity,
              com.orange.ocara.data.net.model.QuestionEntity,
              com.orange.ocara.data.net.model.EquipmentCategoryEntity,
              com.orange.ocara.data.net.model.IllustrationEntity,
              com.orange.ocara.data.net.model.EquipmentEntity,
              com.orange.ocara.data.net.model.RuleEntity,
              com.orange.ocara.data.net.model.SubjectEntity,
              com.orange.ocara.data.net.model.AuthorEntity,
              com.orange.ocara.data.net.model.RuleImpactEntity,
              com.orange.ocara.data.net.model.ImpactValueEntity,
              com.orange.ocara.data.net.model.ProfileTypeEntity,
              com.orange.ocara.data.net.model.RulesetCategoryEntity,
              com.orange.ocara.data.net.model.QuestionnaireGroupEntity" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.orange.ocara.tools.ListGsonSerializer" />

    </application>

</manifest>
